body {
    width: 100%;
    margin: 17% auto;
    align-content: center;
    text-align: center;
    font-size: 140%;
    background-color: #2D2D39;
    color: #82FF9E;
    transition: opacity 0.1s ease;
}

a {
    color: #82FF9E;
}

a:hover {
    text-decoration: none;
    color: #817c8a;
}

h1 {
    margin: 1%;
}

ul {
    list-style-type: none;
    align-items: center;
    text-align: center;
}

h5 {
    color: #817c8a;
}

h8 {
    background-color: #817c8a;
    border-radius: 10px;
    padding: 0.5%;
}

.message_holder {
    text-align: left;
    padding-left: 29.5%;
    padding-bottom: 1%;
}

.message, .username, button, input{
    border-radius: 10px;
    background-color: #2D2D39;
    border: 2px solid #82FF9E;
    padding: 0.5%;
    color: #82FF9E;
    margin: 0.5%;
}

button:hover {
    background-color: #82FF9E;
    border: 2px solid #2D2D39;
    color: #2D2D39;
}

#next {
    border-radius: 10px;
    background-color: #2D2D39;
    color: #82FF9E;
    font-size: 400%;
}

.logout:hover{
    animation: bounce 0.8s ease;
    animation-iteration-count: infinite;
}

#next:hover {
    text-decoration: none;
}

#submit {
    position: absolute;
    bottom: 5%;
    margin-left: 7%;
}

#usermsg {
    margin-right: 5%;
    position: absolute;
    bottom: 5%;
    left: 38%;
}

#messages {
    text-align: left;
    margin-left: 30%;
}
.members {
    float:right;
    position: fixed;
    top: 0;
    right: 0;
    margin:3%;
}
#home_button {
    float:left;
    position:fixed;
    top:0;
    left:0;
    margin:3%;
}
b {
    font-weight: 500;
    color: #817c8a;
}