<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Sign Up</h1>
<h3>{{ message }}</h3>
<form method="post" action="/signup">
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <label>Email:</label>
    <input type="email" name="email">
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <button type="submit">Submit</button>
    <input type="button" value="Back" onclick="history.back()">

</form>
</body>
</html>