<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Chat App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<h1>Welcome to chat room: {{ room.name }}</h1>


<button type="button" id="load_older_messages_btn">Load Older Messages</button>
<p></p>

<div id="messages">
    {% for message in messages %}
        <div><b>{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b> {{ message.text }}</div>
    {% endfor %}
</div>

<br>
<form method="post" id="message_input_form">
    <input type="text" id="message_input" placeholder="Enter your message here">
    <button type="submit">Send</button>
</form>

<div class="members">
<h3>Members</h3>
<ul>
    {% for member in room_members %}
        <li>{{ member._id.username }}</li>
    {% endfor %}
</ul>
<form method="get" action="{{url_for('edit_room', room_id= room._id )}}">
    <button type="submit">Edit Room</button>
</form>
</div>

<form method="get" action="{{url_for('home')}}">
    <button type="submit" id="home_button">Home</button>
</form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script type="text/javascript">
    console.log('hello2');

    const socket = io.connect("http://127.0.0.1:5000");
    console.log('hello');
    socket.on('connect', function() {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })


        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room._id }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });


    let page = 0;

    document.getElementById("load_older_messages_btn").onclick = function (e) {
        page += 1;
        fetch("/rooms/{{ room._id }}/messages?page=" + page, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(messages => {
                messages.reverse().forEach(message => prepend_message(message.text, message.sender, message.created_at));
            })
        })
    };

    function prepend_message(message, username, created_at) {
        const newNode = document.createElement('div');
        newNode.innerHTML = '<b>' + username + ' ['+ created_at + ']: </b>' + message;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    }

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })
    };

    socket.on('receive_message', function (data) {
        console.log(data);
        var username = data['username']
        var created = data['created_at']
        var message = data['message']
        const newNode = document.createElement('div');
        newNode.innerHTML = '<b>' + username + ' ['+ created + ']: </b>' + message;
        document.getElementById('messages').appendChild(newNode);
    });


    socket.on('join_room_announcement', function (data) {
        if (data.username == "{{ username }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = '<b>{{ username }} has joined the room</b> ';
            document.getElementById('messages').appendChild(newNode);
        }
    });

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = '<b>{data.username} has left the room</b>';
        document.getElementById('messages').appendChild(newNode);
    });
</script>
</html>